<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsultaCotacaoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConsultaCotacaoClient.Properties.Settings>
            <setting name="ConsultaCotacaoClient1_br_com_riscozeroprojetos_consultacotacao_CotacaoService"
                serializeAs="String">
                <value>http://consultacotacao.riscozeroprojetos.com.br/sConsultaCotacao.asmx</value>
            </setting>
        </ConsultaCotacaoClient.Properties.Settings>
    </applicationSettings>
</configuration>